<a href="https://colab.research.google.com/github/changsksu/IMSE_Data_Science/blob/main/Apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The code domonstrates the use of mixtend library for the apriori algorithm

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [4]:
# there are six items in 16 transactions
# item 1 is index as (0), item 2 as (1) and so on
dataset = [['1', '2', '3'],
           ['2', '3', '4'],
           ['3','4','5'],
           ['4', '5', '6'],
           ['1','3','5'],
		   ['2', '4', '6'],
           ['1','3','4'],
		   ['2', '4', '5'],
           ['3','5','6'],
		   ['1', '2', '4'],
           ['2','3','5'],
           ['3','4','6'],
           ['1','2'],
           ['1','2'],
           ['1','2'],
           ['1','2']]

In [1]:
dataset2=[['A', 'B', 'C', 'D'],
          ['A', 'B', 'C'],
          ['A', 'B'],
          ['B','C'],
          ['A'],
          ['B']]

In [7]:

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

        1      2      3      4      5      6
0    True   True   True  False  False  False
1   False   True   True   True  False  False
2   False  False   True   True   True  False
3   False  False  False   True   True   True
4    True  False   True  False   True  False
5   False   True  False   True  False   True
6    True  False   True   True  False  False
7   False   True  False   True   True  False
8   False  False   True  False   True   True
9    True   True  False   True  False  False
10  False   True   True  False   True  False
11  False  False   True   True  False   True
12   True   True  False  False  False  False
13   True   True  False  False  False  False
14   True   True  False  False  False  False
15   True   True  False  False  False  False

In [8]:
# Executing the apriori algorithm

apriori(df, min_support=0.36)

   support itemsets
0    0.500      (0)
1    0.625      (1)
2    0.500      (2)
3    0.500      (3)
4    0.375      (4)
5    0.375   (0, 1)

In [9]:

te = TransactionEncoder()
te_ary = te.fit(dataset2).transform(dataset2)
df2 = pd.DataFrame(te_ary, columns=te.columns_)
#df2
#from mlxtend.frequent_patterns import apriori

apriori(df2, min_support=0.50)

    support itemsets
0  0.666667      (0)
1  0.833333      (1)
2  0.500000      (2)
3  0.500000   (0, 1)
4  0.500000   (1, 2)